
@{
    ViewData["Title"] = "Valid";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Mising Report</h4>

                    <a href="@Url.Action("Index","MissingReports")" class="btn btn-primary">Manage Report</a>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"> Report Details</h4>

                    <a href="@Url.Action("Index","Reports")" class="btn btn-primary">Report Status</a>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Manage Query</h4>

                    <a href="@Url.Action("Index","Messages")" class="btn btn-primary">Query Reports</a>
                </div>
            </div>

        </div>




    </div>

</div>
