@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="https://images.radio.com/aiu-media/MissingPersonAlert-607b3cc7-24de-48d9-9f03-23e61ce961fb.jpg?width=800" style="height:400px;width:100%"/>

        </div>
        <div class="col-md-12">
            <p class="text-lg-center">
                Do you just want to know the truth?  To put your mind at ease for once and for all? We can help – and we have been helping private and commercial clients like you to find the truth for over 25 years.

                <br />

                We’re a professional business of independent private investigators throughout the UK who care about results and obtaining the truth for our clients. Whether you're chasing a debtor, looking for a missing person, or suspect your husband or wife of cheating, we can help you.
                <br />

                From our offices in Cheltenham, we can cover most of the South West with ease including, Bristol, Gloucester, and Worcester. Although we offer a UK-wide private investigation service with our network of experienced and trusted private investigators.
                <br />

                Pain, doubt, and wrongdoing are difficult emotions to deal with. For over 25 years we have been helping clients deal with these emotions while delivering peace of mind, closure, and justice.
                Don’t be reluctant to hire an investigator.

                <br />
                Hiring a private investigator is a difficult decision to make. You’re facing a painful situation, perhaps you have doubts about a cheating husband or wife, owed money, or simply feel something isn’t right.  You want to make the right decision and not be seen to overreact.
                <br />

                When it comes to making that call, everyone feels the same way. No one wants to appear to be a fool, to have made silly mistakes or to have been taken advantage of by a partner.  But whatever your predicament is, you are not the first and you won’t be the last. We are here to help and our private investigators have a success rate more than 95 percent.
                <br />

                For over 25 years Bamber Young have been conducting private investigations in Cheltenham, Gloucester, Bristol and across the UK. Our private investigators are personable and friendly, we have already helped 1000’s people just like you in the UK.  Take comfort and reassurance from our experience.
                <br />
            </p>
        </div>
    </div>

</div>
